extends baseEmail

block content
	p Hi #{firstName},
		p Forgot your password? 
		p Following is Your One Time Password.
		table(role='presentation', border='0', cellpadding='0', cellspacing='0')
			tbody
				tr
					td(align='left')
						table(role='presentation', border='0', cellpadding='0', cellspacing='0')
							tbody
								tr
									td
										strong #{url}
		p If you didnt forget your password ignore this email.
		p - My Company Team